<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
						http://www.springframework.org/schema/security
                        http://www.springframework.org/schema/security/spring-security-3.2.xsd">
                        
	<security:http pattern="/resources/**" security="none"/>
	<security:http pattern="/static/**" security="none"/>
	<security:http pattern="/favicon.ico" security="none"/>
		
                        
	<security:http auto-config="true" use-expressions="true">
		<security:intercept-url pattern="/admin/user/**" access="isAnonymous()"/>
<!-- 		<security:intercept-url pattern="/admin/main/**" access="permitAll"/> -->
		<security:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>
		<security:intercept-url pattern="/**" access="permitAll"/>
		<security:form-login
			login-page="/admin/user/login"
			always-use-default-target="true"
			default-target-url="/admin/main/main"
			authentication-failure-url="/admin/main/login?fail=true"
			username-parameter="email"
			password-parameter="password"
			/>
		<security:session-management invalid-session-url="/admin/user/login" >
			<security:concurrency-control max-sessions="1" expired-url="/admin/user/login"/>
		</security:session-management>
		<security:logout delete-cookies="true" invalidate-session="true"
			logout-url="/admin/user/logout" logout-success-url="/admin/user/login"/>
	</security:http>
	
	<!-- 		authentication-success-handler-ref="userLoginSuccessHandler"
			authentication-failure-handler-ref="userLoginFailureHandler"
	<bean id="userLoginSuccessHandler" class="com.mall.common.handler.UserLoginSuccessHandler"/>
	
	<bean id="userLoginFailureHandler" class="com.mall.common.handler.UserLoginFailureHandler" /> -->
	
	<!-- <security:authentication-manager>
		<security:authentication-provider>
			<security:user-service>
				<security:user name="admin" password="admin" authorities="ROLE_ADMIN"/>
				<security:user name="user" password="user" authorities="ROLE_USER"/>
			</security:user-service>
		</security:authentication-provider>
	</security:authentication-manager> -->
	
	
	
	
	<security:jdbc-user-service data-source-ref="dataSource" id="userSecurityService"
		users-by-username-query="SELECT
								 EMAIL as username 
								, USER_PWD as password
								, ENABLED as enabled
							FROM
								MBR_MEMBER
							WHERE 
								EMAIL = ?
							AND USE_YN = 'Y'"
							
		authorities-by-username-query="
						SELECT
								 EMAIL as username 
								, AUTHORITY as authority
							FROM
								MBR_MEMBER
							WHERE 
								EMAIL = ?
							AND USE_YN = 'Y'"
		/>
	
	<security:authentication-manager>
		<security:authentication-provider user-service-ref="userSecurityService">
			<security:password-encoder ref="passwordEncoder"/>
		</security:authentication-provider>
	</security:authentication-manager>
	
	<!-- 암호화 -->	
	<bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
	  <constructor-arg name="strength" value="256"></constructor-arg>
	</bean>
</beans>
