<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- MultipartResolver 설정 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="100000000" />
		<property name="maxInMemorySize" value="100000000" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
	
	<bean id="messageSource"
	    class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
	    <property name="basename" value="classpath:messages/messages" />
	    <property name="defaultEncoding" value="UTF-8" />
	    <property name="cacheSeconds" value="60"/>
	    <property name="fallbackToSystemLocale" value="true"/> <!-- false = message.properties만적용됨 -->
    </bean>
   
    <bean id="localeResolver"
    	class="org.springframework.web.servlet.i18n.CookieLocaleResolver" >
    	<property name="cookieName" value="clientlanguage"/>    
    	<property name="cookieMaxAge" value="100000"/>
    	<property name="cookiePath" value="web/cookie"/>
	</bean>

</beans>
