/org.eclipse.jst.j2ee.ejb.annotations.xdoclet.prefs
/org.eclipse.wst.ws.service.policy.prefs
/org.eclipse.core.resources.prefs
/org.eclipse.jdt.core.prefs
/org.eclipse.wst.validation.prefs
/.gitignore
