<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.admin.user.LoginDao">
	<select id="selectUserInfo" parameterType="map" resultType="map">
		SELECT
			  LOGIN_ID
			, PASSWD
			, EMAIL
		FROM
			MBR_USER
		WHERE 
			LOGIN_ID = #{LOGIN_ID} 			
	</select>

</mapper>