<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.admin.user.UserDao">
	<insert id="insertUser" parameterType="map">
		INSERT INTO MBR_USER (
			  LOGIN_ID
			, USER_NAME
			, PASSWD
			, USER_KIND
			, RES_NO
			, HOMEPHONE_NO
			, CELLPHONE_NO
			, ZIPCODE
			, ADDR1
			, ADDR2
			, STATUS
			, EMAIL
			, RECOM_LOGINID
			, USER_LEVEL
			, SELLER_LEVEL
			, SELLER_CREDIT_LEVEL
			, QUESTION
			, ANSWER
			, BIRTHDAY
			, ACCOUNT_NUM
			, CORP_NUM
			, USER_LEVEL_POINT
			, SELLER_LEVEL_POINT
			, SELLER_CREDITLEVEL_POINT
			, REG_DATE
			, CHG_DATE
		)
		SELECT
			 #{login_id}
			, #{user_name}
			, #{passwd}
			, 'ADMIN'
			, ''
			, #{homephone_no}
			, #{cellphone_no}
			, #{zipcode}
			, #{addr1}
			, #{addr2}
			, 'R'
			, #{email}
			, #{recom_loginid}
			, '1'
			, '1'
			, '1'
			, #{question}
			, #{answer}
			, #{birthday}
			, #{account_num}
			, #{corp_num}
			, 0
			, 0
			, 0
			, NOW()
			, NOW()
	</insert>
	
	<select id="selectUser" parameterType="string" resultType="Map">
		SELECT
			  LOGIN_ID AS loginId
			, PASSWD AS password
			, STATUS AS status
			, USER_KIND AS userKind
		FROM MBR_USER
		WHERE login_id = #{username}
	</select>
	<select id="selectUserAll" parameterType="Map" resultType="Map">
		SELECT
			  USER_NM 
			, USER_ID
			, EMAIL
			, GRADE
		FROM MBR_USER
	</select>
	<select id="checkLoginId" parameterType="map" resultType="map">
		SELECT 
			LOGIN_ID
		FROM MBR_USER
		WHERE LOGIN_ID = #{login_id}	
	</select>
	<select id="findLoginId" parameterType="map" resultType="map">
		SELECT 
			login_id,
			user_name,
			email
		FROM MBR_USER
		WHERE USER_NAME = #{user_name}
		AND   EMAIL     = #{email}	
	</select>
	<select id="findPassWd" parameterType="map" resultType="map">
		SELECT 
			user_name,
			login_id,
			passwd,
			email
		FROM MBR_USER
		WHERE LOGIN_ID = #{login_id}
		AND   ANSWER   = #{answer}
		AND   EMAIL     = #{email}	
	</select>
	<update id="updatePassWd" parameterType="map">
		UPDATE MBR_USER
		SET passwd = #{passwd}
		WHERE login_id = #{login_id}
	</update>
	
</mapper>